@page
@model AcademicPageDotNet.Pages.ButtonModel
@{
    ViewData["Title"] = "The Button";
}

<div>
    <div class="row justify-content-center align-self-center">
        <div class="col-sm-6">
            <div class="jumbotron vertical-center text-center">
                <h2>The Button</h2>
                <p>Clicked by @Model.ClickCount People around the world!</p>
                @if(Model.LastClickAddr is not null)
                {
                    <p>Last click: @Model.LastClickDateTime from @Model.LastClickAddr</p>
                }
                <form method="post">
                    <button type="submit" class="btn btn-primary btn-lg" asp->Click</button>
                </form>
            </div>
        </div>
    </div>
</div>
