@page
@model AcademicPageDotNet.Pages.ButtonModel
@{
    ViewData["Title"] = "The Button";
}

<div>
    <div class="row justify-content-center align-self-center">
        <div class="col-sm-6">
            <div class="jumbotron vertical-center text-center">
                <h2>The Button</h2>
                <br />
                <p>Clicked by <label style="color:red;">@Model.ClickCount</label> people!</p>
                <form method="post">
                    <button type="submit" class="btn btn-primary btn-lg" asp->Click</button>
                </form>
                <br />
                @if(Model.LastClickAddr is not null)
                {
                    <p>Last click: @Model.LastClickDateTime (UTC)<br/>From: @Model.LastClickAddr</p>
                }
            </div>
        </div>
    </div>
</div>
